.rt-textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-border);
    border-radius: 0.25rem;
    outline: none;
    resize: none;
    &:focus {
        border-color: var(--color-theme);
    }
}
